.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.chart-container {
  height: 300px;
  margin-top: 20px;
}
